html, body {
  background-color: #DCF6F9;
}

.celda {
  height: 130px;
  width: 130px;
  border: solid 1px #D3D3D9;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablero {
  width: 520px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.player-table {
  height: 450px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-panel {
  align-items: center;
  justify-content: center;
  width: 1000px;
}

.ficha {
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 50%;
}

.ficha:hover {
  cursor: pointer;
}

.selected {
  background-color: #F5D547 !important;
}

.red {
  background-color: #DE1759;
}

.blue {
  background-color: #345995;
}

.botonera > * {
  margin-right: 10px;
}

.mensajes {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}

.chat {
  overflow: hidden !important;
  max-height: 470px!important;
  height: 470px;
  padding-top: 5px;
}

.mensaje {
  overflow-wrap: break-word;
}

.mensaje-red > * {
  background-color: #DE1759 !important;
  border-radius: 10px;
  color: white;
  padding: 8px;
}

.mensaje-blue > * {
  background-color: #345995 !important;
  border-radius: 10px;
  color: white;
  padding: 8px;
}